<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>コメント一覧</h2>
      <p>※最新順に並んでいます</p>
      <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>コメント</th>
            <th>投稿日時</th>
            <th>タグ</th>
            <th>通報</th>
            <th>表示</th>
          </tr>
        </thead>

        <tbody>
        <% @comments.each do |comment| %>
         <tr onclick='window.location="<%= admin_youte_path(comment.youte.id) %>"' role="link">
          <td>
            <%=  link_to admin_youte_path(comment.youte.id) do %>
              <%= comment.text.truncate(10) %>
            <% end %>
          </td>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= comment.comment_genre.name %></td>
          <td>
            <% if comment.report == true %>
              <p>通報</p>
            <% else %>
              <p>通報されてない</p>
            <% end %>
          </td>
          <td>
            <% if comment.indicate == true %>
              <p>表示中</p>
            <% else %>
              <p>非表示中</p>
            <% end %>
          </td>
         </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>