 <div class="youte!">
   <%= form_with model: youte, url:user_youtes_path do |f| %>
    <label >Youte!</label>
      <%= f.text_field :text %></br>
    <label>ジャンル</label>
      <% f.text_field :genre_id, class:"form-control" %>
      <%= f.select :genre_id, options_from_collection_for_select(YouteGenre.all, :id, :name_was), include_blank: "--選択してください--" %>
    <label class="col-4 mx-auto d-block"><%= f.submit 'Youte!!', class:"btn btn-success" %></label>
  <% end %>
</div>

 <div class="user_edit">
   <p>プロフィール</p>
     <p>名前</p>
     <p><%= user.name %></p>
     <%= link_to  edit_user_user_info_path(id: user.id) do %>
      <div class ="btn btn-primary">
       名前を変更
      </div>
     <% end %>

 </div>

 <div class="mypage_lists">
   <ul>
    <li>
      <%= link_to  user_mypage_my_favorites_path(mypage_id: user.id) do %>
        お気に入り一覧
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        もらったアドバイス一覧
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        送ったアドバイス一覧
      <% end %>
    </li>
  </ul>
 </div>