<div class="container">
  <div class="row">
    <div class="col-5">
     <%= render "mypage", youte: @youte, user: @user %>
    </div>
    <div class="col-7">
      <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>わたしのYoute</th>
            <th>投稿日時</th>
            <th>タグ</th>
            <th>緊急度</th>
          </tr>
        </thead>
        <tbody>
          <% @youtes.each do |youte| %>
            <% if youte.indicate == true %>
             <tr onclick='window.location="<%= user_youte_path(youte.id) %>"' role="link">
              <td>
                <%=  link_to user_youte_path(youte.id) do %>
                  <%= youte.text.truncate(10) %>
                <% end %>
              </td>
              <td><%= youte.created_at.strftime('%Y/%m/%d') %></td>
              <td><button type="button" class="btn btn-info"><%= youte.youte_genre.name %></button></td>
               <td>
              <div id="star-rate<%= youte.id%>"> </td>
               <script>
                 $('#star-rate<%= youte.id %>').empty();
                 $('#star-rate<%= youte.id%>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   half      : false,
                   readOnly: true,
                   score: <%= youte.star.presence || 0 %>,
                 });
               </script>
              </div>
            </td>
             </tr>
            <% end %>
          <% end %>
        </tbody>
       </table>
    </div>
  </div>
</div>