<div class="container">
  <div class="row">
    <div class="col-10 table mx-auto">
      <h2>みんなのYoute一覧</h2>
      <p>※最新順に並んでいます</p>
      <table class="table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>みんなのYoute</th>
            <th>投稿日時</th>
            <th>タグ</th>
            <th>通報</th>
            <th>表示</th>
          </tr>
        </thead>

        <tbody>
        <% @youtes.each do |youte| %>
         <tr onclick='window.location="<%= admin_youte_path(youte.id) %>"' role="link">
          <td>
            <%=  link_to admin_youte_path(youte.id) do %>
              <%= youte.text.truncate(10) %>
            <% end %>
          </td>
          <td><%= youte.created_at.strftime('%Y/%m/%d') %></td>
          <td><button type="button" class="btn btn-info"><%= youte.youte_genre.name %></button></td>
          <td>
            <% if youte.report == true %>
               <button type="button" class="btn btn-danger">通報</button>
            <% else %>
              <button type="button" class="btn btn-success">通報されていない</button>
            <% end %>
          </td>
          <td>
            <% if youte.indicate == true %>
             <button type="button" class="btn btn-success">表示中</button>
            <% else %>
              <button type="button" class="btn btn-danger">非表示</button>
            <% end %>
          </td>
         </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>