<div class="container">
  <div class="row">
    <div class="col-5">
     <%= render "user/mypage/mypage", youte: @youte, user: current_user %>
    </div>
    <div class="col-7">
      <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>お気に入りのコメント</th>
            <th>投稿日時</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
            <% if favorite.comment.indicate == true %>
             <tr>
              <td>
                <%=  link_to  user_youte_path(id: favorite.comment.youte_id) do %>
                  <%= favorite.comment.text.truncate(10) %>
                <% end %>
              </td>
              <td><%= favorite.comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= favorite.comment.comment_genre.name %></td>
             </tr>
            <% end %>
          <% end %>
        </tbody>
       </table>
    </div>
  </div>
</div>