<div class="container">
  <div class="row">
    <div class="col-5">
     <%= render "user/mypage/mypage", youte: @youte, user: @user %>
    </div>
    <div class="col-7 table mx-auto">
      <h2>みんなのYoute一覧</h2>
      <p>※最新順に並んでいます</p>
      <%= render 'user/search' %>
      <%= render 'user/genres/search_genre' %>
      <table class="table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>みんなのYoute</th>
            <th>投稿日時</th>
            <th>タグ</th>
          </tr>
        </thead>

        <tbody>
        <% @youtes.each do |youte| %>
          <% if youte.indicate == true %>
           <tr onclick='window.location="<%= user_youte_path(youte.id) %>"' role="link">
            <td>
              <%=  link_to user_youte_path(youte.id) do %>
                <%= youte.text.truncate(10) %>
              <% end %>
            </td>
            <td><%= youte.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= youte.youte_genre.name %></td>
           </tr>
           <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>