<div class="container">
  <div class="row">
    <div class="col-12">
　　　<%= render 'errors', item: @item %>

<h2 class="ml-5">商品新規登録</h2>

    <%= form_with model: @item, url: admin_items_path do |f| %>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">商品名</label>
        <%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">商品説明</label>
          <%= f.text_area :description, class:"form-control", rows:"3", placeholder:"ここに説明文を記述します" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">ジャンル</label>
          <% f.text_field :genre_id, class:"form-control" %>
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name_was), include_blank: "--選択してください--" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">税抜価格</label>
          <%= f.text_field :tax_excluded_price, class:"form-control", placeholder:"1000" %>
        <span>円</span>
       </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">販売ステータス</label>
          <% f.text_field :sales_status, class:"form-control" %>
            <%= f.radio_button :sales_status, "true" %>
              <%= f.label :sales_status, "販売中" %>
            <%= f.radio_button :sales_status, "false" %>
              <%= f.label :sales_status, "販売停止中" %>
      </div>

    <label class="col-4 mx-auto d-block"><%= f.submit '新規登録', class:"btn btn-success" %></label>

    <% end %>
