<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="user_info">
       <h2>ユーザー詳細</h2>
       <h2>ユーザーネーム</h2>
       <p><%= @user.name %></p>
       <h2>メールアドレス</h2>
       <p><%= @user.email %></p>
       <h2>通報数</h2>
        <p>Youte!:</p><%= @user.youtes.where(report:true).count %>
        <p>コメント:</p><%= @user.comments.where(report:true).count %>
       <h2>ユーザーステータス</h2>
       <% if @user.status == 0 %>
          <p>退職済み</p>
        <% elsif @user.status == 1 %>
          <p>制限なし</p>
        <% else %>
          <p>制限中</p>
        <% end %>
       <div class="change_status">
         <%= form_with model: @user, url:admin_user_path do |f| %>
          <label>ステータス変更</label>
            <%= f.select :status, [["退職済み", "0"], ["制限なし", "1"], ["制限中", "2"]], include_blank: "--選択してください--" %>
          <label class="col-4 mx-auto d-block"><%= f.submit '変更', class:"btn btn-success" %></label>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-7">
      <h2>Youte一覧</h2>
       <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>Youte</th>
            <th>投稿日時</th>
            <th>タグ</th>
            <th>通報</th>
            <th>表示</th>
          </tr>
        </thead>

        <tbody>
        <%  @user.youtes.each do |youte| %>
         <tr onclick='window.location="<%= admin_youte_path(youte.id) %>"' role="link">
          <td>
            <%=  link_to admin_youte_path(youte.id) do %>
              <%= youte.text.truncate(10) %>
            <% end %>
          </td>
          <td><%= youte.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= youte.youte_genre.name %></td>
          <td>
            <% if youte.report == true %>
              <p>通報</p>
            <% else %>
              <p>通報されてない</p>
            <% end %>
          </td>
          <td>
            <% if youte.indicate == true %>
              <p>表示中</p>
            <% else %>
              <p>非表示中</p>
            <% end %>
          </td>
         </tr>
        <% end %>
        </tbody>
      </table>
      <h2>コメント一覧</h2>
      <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr>
            <th>コメント</th>
            <th>投稿日時</th>
            <th>タグ</th>
            <th>通報</th>
            <th>表示</th>
          </tr>
        </thead>

        <tbody>
        <%  @user.comments.each do |comment| %>
         <tr onclick='window.location="<%= admin_youte_path(comment.youte.id) %>"' role="link">
          <td>
            <%=  link_to admin_youte_path(comment.youte.id) do %>
              <%= comment.text.truncate(10) %>
            <% end %>
          </td>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= comment.comment_genre.name %></td>
          <td>
            <% if comment.report == true %>
              <p>通報</p>
            <% else %>
              <p>通報されてない</p>
            <% end %>
          </td>
          <td>
            <% if comment.indicate == true %>
              <p>表示中</p>
            <% else %>
              <p>非表示中</p>
            <% end %>
          </td>
         </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>